.quizzes-container {
  width: 70vw;
  padding: 10px 30px;
  margin: 20px auto;
  height: 87vh;
  overflow-y: auto;
}

@media (max-width: 900px) {
  .quizzes-container {
    width: 99%;
    padding: 0 20px;
  }
}
