.Quizzes {
  height: 94vh;
  background-color: #eaeaea;
  overflow-y: auto;
  overflow-x: hidden;
}

.Quizzes__category {
  background-color: #fff;
  height: 12vh;
  line-height: 12vh;
  padding-left: 10%;
}

.Quizzes__category-span {
  font-weight: 500;
  font-size: 0.9em;
}

.quizzes-container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1500px;
  width: 90%;
  min-height: calc(94vh - 12vh);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 50px;
}

@media (max-width: 1200px) {
  .quizzes-container {
    width: 95%;
    gap: 30px 20px;
  }
}

@media (max-width: 1000px) {
  .quizzes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .quizzes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
