.Quizzes {
  height: 94vh;
  background-color: #eaeaea;
  overflow-y: auto;
  overflow-x: hidden;
}

.Quizzes__header {
  background-color: #fff;
  height: 8vh;
  line-height: 8vh;
  padding-left: 10%;
}

.quizzes-container {
  margin: 0 auto;
  padding: 50px 0;
  max-width: 1500px;
  width: 90%;
  min-height: calc(95vh - 8vh);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 50px;
}

.quizzes-container .quizItem {
  height: calc((95vh - 8vh - 3 * 30px - 50px) / 3);
}

@media (max-width: 1200px) {
  .quizzes-container {
    width: 95%;
    gap: 30px 20px;
  }
}

@media (max-width: 1000px) {
  .quizzes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .quizzes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
