.singUp {
  width: clamp(300px, 90vw, 800px);
  height: clamp(450px, 75vh, 1300px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: white;
  text-align: center;
}

.singUp .button {
  width: 150px;
}

@media (max-width: 600px) {
  .singUp {
    padding: 0 10px;
  }
}
