.editablQuiz {
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editablQuiz__container {
  width: clamp(300px, 80%, 1000px);
}

.editablQuiz__topPanel {
  margin-bottom: 50px;
  padding: 10px 20px;
  border-left: 5px solid rgb(185, 18, 226);
  border-radius: 10px;
  background-color: #fff;
}

.editablQuiz input {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.editablQuiz__topPanel input {
  font-size: 1.7em;
  font-weight: 600;
  border-bottom: 2px solid transparent;
}

.editablQuiz input:focus {
  border-bottom: 2px solid rgb(190, 3, 228);
}

.editablQuiz__topPanel textarea {
  margin-top: 50px;
  width: 100%;
  height: 70px;
  border: none;
  background-color: transparent;
  resize: none;
  font-size: 1em;
}

.editablQuiz__topPanel textarea:focus {
  border-bottom: 2px solid rgb(190, 3, 228);
}

.editablQuiz__container > .question-container {
  margin-bottom: 20px;
}

.editablQuiz__container textarea:focus {
  outline: none;
}

.questions-container {
  height: 50vh;
  padding: 0 10px;
  padding-top: 3px;
  overflow-y: auto;
}

.editablQuiz__container > .button {
  float: right;
}

.editableQuiz__buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .editablQuiz {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .editablQuiz {
    width: 100%;
  }
}
