.editable-quiz {
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editable-quiz-container {
  width: clamp(300px, 80%, 1000px);
}

.editable-quiz-container textarea {
  padding: 30px;
  width: 100%;
  height: 100px;
  resize: none;
}

.editable-quiz-container > * {
  margin-bottom: 20px;
}

.editable-quiz-container textarea:focus {
  outline: none;
}

.question-header {
  display: flex;
  justify-content: center;
}

.questions-container {
  height: 50vh;
  padding: 0 10px;
  overflow-y: auto;
}
