.editable-quiz {
  height: 92vh;
  width: 70%;
  margin: 0 auto;
  background-color: rgb(148, 120, 84, 0.5);
  overflow-y: auto;
  overflow-x: hidden;
}

.editable-quiz-container {
  margin: 0 auto;
  width: 90%;
  min-height: 92vh;
  position: relative;
}

.editable-quiz__top-panel {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  padding: 20px 30px;
}

.editable-quiz__top-panel input {
  font-size: 1.2em;
}

.editable-quiz__top-panel input,
.editable-quiz__top-panel textarea {
  box-shadow: none;
  margin: 0;
  padding: 5px 10px;
  min-height: 40px;
  color: black;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid whitesmoke;
  border-radius: 0;
  transition: border 0.5s linear;
}

.editable-quiz__description-box {
  position: relative;
}

.description-icon {
  position: absolute;
  top: 20px;
  left: -20px;
}

.editable-quiz-container textarea {
  width: 100%;
  resize: none;
  height: 70px;
  padding: 20px 30px;
}

.editable-quiz-container > .question-container {
  margin-bottom: 20px;
}

.editable-quiz-container textarea:focus {
  outline: none;
}

.question-header {
  display: flex;
  justify-content: center;
}

.questions-container {
  padding: 0 10px;
  padding-bottom: 50px;
  padding-top: 3px;
}

.editable-quiz__top-panel .button {
  margin-top: 25px;
  margin-left: 100%;
  width: 150px;
  height: 40px;
  line-height: 20px;
  transform: translateX(-100%);
}

.editable-quiz-container > .button {
  margin-top: 20px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
}

.icon {
  color: black;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .editable-quiz {
    width: 100%;
  }
  .editable-quiz-container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .editable-quiz {
    width: 100%;
  }
}
