.alert {
  padding: 10px 20px;
  position: absolute;
  width: 200px;
  top: 9vh;
  right: 10px;
  text-align: center;
  font-family: monospace;
  line-height: 15px;
  border: 2px solid white;
  border-radius: 10px;
  word-break: inherit;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
