.button {
  width: max-content;
  min-width: 100px;
  height: 35px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.3s all linear;

  --base: rgb(255, 255, 255);
  --neon_blue: rgb(0, 195, 255);
  --neon_green: rgb(0, 238, 59);
  --neon_red: rgb(255, 0, 0);
}

.button.base {
  border: 2px solid var(--base);
  background-color: transparent;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 0;
}

.button.base:hover {
  background: rgb(29, 29, 29);
  color: whitesmoke;
}

.button.neon-blue {
  background-color: transparent;
  border: 2px solid white;
}

.button.neon-blue:hover {
  color: var(--neon_blue);
  border-color: var(--neon_blue);
  box-shadow: 0 0 15px 0.5px var(--neon_blue);
}

.button.neon-green {
  background-color: transparent;
  border: 2px solid white;
}

.button.neon-green:hover {
  color: var(--neon_green);
  border-color: var(--neon_green);
  box-shadow: 0 0 15px 0.5px var(--neon_green);
}

.button.neon-red {
  background-color: transparent;
  border: 2px solid white;
}

.button.neon-red:hover {
  color: var(--neon_red);
  border-color: var(--neon_red);
  box-shadow: 0 0 15px 0.5px var(--neon_red);
}

.base.disabled {
  background-color: rgb(38, 38, 43);
  border: 2px solid rgb(54, 54, 58);
  color: rgb(119, 119, 119);
  transition: none;
}

.base.disabled:hover {
  background-color: rgb(38, 38, 43);
}

@media (max-width: 1200px) {
  .button {
    width: 145px;
    font-size: 14px;
    letter-spacing: 0.11em;
  }
}

@media (max-width: 1000px) {
  .button {
    width: 120px;
    font-size: 14px;
    letter-spacing: 0.11em;
  }
}
