.Navigation {
  background-color: #232426;
  width: 100%;
  height: 8vh;
}

.main-page-link {
  margin-left: 20px;
  line-height: 8vh;
}

.Navigation-container {
  width: 30%;
  line-height: 8vh;
  display: flex;
  float: right;
}

.Navigation-link,
.Navigation-container > .Account-link {
  flex-grow: 1;
  font-size: 2em;
}
