.Navigation {
  padding: 0 30px;
  width: 100%;
  height: 6vh;
  background-color: #ffffff;
  border-bottom: 2px solid rgb(0, 0, 0);
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;

  --gap: 30px;
}

.main-page-link {
  line-height: 6vh;
  font-size: 0.8em;
}

.Navigation__container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0 var(--gap);
}

.Navigation__logIn-links {
  display: flex;
  justify-content: space-around;
  gap: 0 var(--gap);
  font-size: 0.8em;
}

.Navigation__link,
.Navigation__container > .Account-link {
  flex-grow: 1;
}

.Navigation__link-blue a {
  color: #005ce5;
}

.Navigation__link-blue .custom__link__underline {
  background-color: #005ce5;
}

@media (max-width: 900px) {
  .Navigation {
    font-size: 1.2em;

    --gap: 20px;
  }
}

@media (max-width: 600px) {
  .Navigation {
    padding: 0 10px;
    font-size: 1em;

    --gap: 20px;
  }
}
