.answer-to-display {
  width: 80%;
  text-align: center;
  margin-bottom: 30px;

  --neon_green: rgb(0, 238, 59);
  --neon_red: rgb(255, 0, 0);
}

.answer-to-display:last-child {
  margin-bottom: 0;
}

.answer-to-display > .fake-button {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 25px;
  padding: 5px 10px;
  color: whitesmoke;
  border-radius: 3px;
  border: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
  border: 2px solid rgb(172, 172, 172);
  background-color: transparent;
}

.answer-neutral {
  background-color: transparent;
}

.display-answer-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.display-answer-icon.correct {
  color: var(--neon_green);
  border-color: var(--neon_green);
  box-shadow: 0 0 5px 0.5px var(--neon_green);
}
.display-answer-icon.incorrect {
  color: var(--neon_red);
  border-color: var(--neon_red);
  box-shadow: 0 0 5px 0.5px var(--neon_red);
}
