.answer-container {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-count {
  margin-left: 30px;
  pointer-events: none;
}

.add-question {
  padding: 10px 10px;
}

.answer-container > .button {
  width: 12%;
  min-width: 70px;
  height: 40px;
  line-height: 100%;
}

.answer-container > .form-input-container {
  width: 60%;
}

.answer-container > .form-input-container {
  width: 80%;
}

.answer-container__icon {
  font-size: 1em;
}
