.question-container {
  background-color: rgb(37, 37, 37);
  margin-bottom: 20px;
  border-radius: 10px;
}

.answer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question-count {
  margin-left: 30px;
  pointer-events: none;
}

.add-question {
  padding: 10px 10px;
}

.answer-container > .button {
  width: 10%;
}
