.singIn {
  width: clamp(300px, 90vw, 800px);
  height: 500px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.singIn__userIcon {
  font-size: 4em;
}

.footer__container {
  width: clamp(300px, 100%, 500px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__container .button {
  width: 40%;
}

@media (max-width: 600px) {
  .singIn {
    padding: 0 10px;
  }
}

@media (orientation: portrait) {
}
