.quiz-card {
  position: relative;
  padding: 20px 20px;
  width: 45%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  max-width: 700px;
  min-width: 330px;
  height: 30vh;
  border-radius: 10px;
  box-shadow: 0 0 20px 0.5px rgba(189, 138, 0, 0.3);
}

.quiz-card-title-container {
  height: 20%;
  color: rgb(19, 17, 17);
}

.quiz-card-title-container::before {
  display: block;
  content: " ";
  width: calc(100% + 3px);
  transform: translateX(-1.5px);
  height: 18%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(167, 100, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.quiz-card-title {
  position: absolute;
  top: 5%;
  left: 10px;
  z-index: 1;
  font-size: 1.3em;
}

.quiz-description {
  height: calc(60%);
}

.quizz-footer {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quizz-footer svg {
  color: rgb(124, 0, 0);
}

.quizz-likes-count {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .quiz-card {
    width: 90%;
    height: 50vh;
    max-height: 300px;
    margin-bottom: 30px;
  }

  .quiz-card-title {
    font-size: 1.2em;
  }

  .quizz-footer .button {
    width: 140px;
    font-size: 0.7em;
  }
}
