.quiz-card {
  position: relative;
  padding: 20px 20px;
  width: 100%;
  min-width: 330px;
  height: 100%;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 5px -1px rgb(94, 94, 94);
}

.quiz-card-title-container {
  height: 20%;
  color: rgb(255, 255, 255);
}

.quiz-card-title {
  z-index: 1;
  font-size: 1.3em;
}

.quiz-description {
  height: calc(60%);
}

.quizz-footer {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quizz-footer svg {
  color: rgb(124, 0, 0);
}

.quizz-likes-count {
  margin-left: 10px;
}

@media (max-width: 900px) {
  .quiz-card-title {
    font-size: 1.2em;
  }

  .quizz-footer .button {
    width: 140px;
    font-size: 0.7em;
  }
}
