.Account-link {
  position: relative;
  cursor: pointer;
}

.user-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.user-name {
  text-align: center;
}

.user-name::selection {
  background-color: transparent;
}

.user-actions {
  margin-top: 30px;
  padding-left: 15px;
  list-style: disc;
}

.Account-link::selection {
  background-color: transparent;
}

.Account-dropdown {
  padding: 10px 20px;
  width: clamp(230px, calc(50vw / 3), 250px);
  height: 250px;
  position: absolute;
  right: 20px;
  top: 9vh;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid rgb(255, 153, 0);
  border-radius: 10px;
  z-index: 2;
}

.Account-dropdown .button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
