.add-question {
  overflow: hidden;
}

.answers-block .button {
  display: block;
}

.form-input-container,
.answers-block > .button {
  margin-bottom: 10px;
}

.answers-block > .answer-container > .form-input-container {
  width: 70%;
}

.answers-block > .button {
  width: 15%;
}
