.add-question {
  overflow: hidden;
}

.answers-block .button {
  display: block;
}

.form-input-container,
.answers-block > .button {
  margin-bottom: 10px;
}

.answers-block > .answer-container > .form-input-container {
  width: 70%;
}

.answers-block > .button {
  width: 15%;
}

.extend-question-panel {
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #000000;
  box-shadow: -1px -1px 5px -1px white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}
