.question {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  border-radius: 10px;
  border-left: 3px solid rgb(185, 18, 226);
}

.question__questionNumber {
  font-weight: 600;
  font-size: 1.1em;
}

.question__deleteIcon {
  float: right;
  cursor: pointer;
  transition: scale 0.2s;
}

.question__deleteIcon:hover {
  scale: 1.1;
}

.question__addQuestion input[name="question"] {
  font-weight: 550;
  font-size: 1.2em;
}

.question__addQuestion {
  margin-top: 20px;
}

.question__answersBlock {
  margin-top: 30px;
}
