.User-answer {
  width: 100%;
  margin-bottom: 30px;
}

.User-answer.action {
  cursor: pointer;
}

.User-answer.action:hover .answer__button {
  color: whitesmoke;
  background-color: rgb(54, 54, 54);
  transition: all 0.3s;
}

.User-answer > .answer {
  width: 100%;
  height: 60px;
}

.User-answer > .answer-to-display {
  width: 100%;
}
