.formInput {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.formInput__field {
  padding: 5px 10px;
  width: 100%;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #e4e4e4;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.25);
}

.formInput__field.incorrect {
  border: 2px solid red;
}

.formInput__field__label {
  padding: 5px 15px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgb(32, 32, 32);
  font-weight: 700;
  transition: all 0.8s;
}

.shrink {
  transform: translate(-10px, calc(-50% - 30px));
}
