.quiz-result {
  position: relative;
  min-height: 100%;
  width: 80%;
  overflow-y: auto;
  box-shadow: 0 0 10px 0 rgb(80, 80, 80);
  color: black;
  font-size: 15px;
}

.quiz-result__container {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding: 30px;
  padding-bottom: 100px;
}

/* header */

.quiz-result__header-title {
  text-align: center;
  font-size: 2.3em;
  font-weight: 800;
}

.quiz-result__header-description {
  margin-top: 10px;
  font-size: 1.4em;
}

.description__icon {
  margin-right: 10px;
}

/* main */

.quiz-result__question-box {
  margin-top: 50px;
}

.quiz-result__question-title {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 20px;
}

.quiz-result__icon {
  margin-right: 20px;
}

.quiz-result__answer {
  margin: 10px 0;
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 40px;
}

/* footer */

.quiz-result-footer {
  padding: 0 50px;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.quiz-likes-count {
  margin-right: 10px;
}

.quiz-likes {
  white-space: nowrap;
}

.solved {
  color: red;
}

.unresolved {
  cursor: pointer;
  color: rgb(56, 56, 56);
}

.quiz-result__correct-answers {
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 1200px) {
  .quiz-result {
    padding: 10px;
    width: 100%;
    border: none;
  }
}

@media (max-width: 600px) {
  .quiz-result {
    font-size: 0.8em;
  }
  .quiz-result__container {
    padding: 0 5px;
  }

  .quiz-result__icon {
    margin-right: 5px;
  }

  .quiz-result__answer {
    padding-left: 0;
  }

  .quiz-result__correct-answers {
    font-size: 1em;
  }
}
