.quiz-result {
  width: 80%;
  min-height: 200px;
  padding: 30px;
  overflow-y: auto;
  border: 3px solid rgb(80, 80, 80);
}

.question {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 50px 30px 30px 30px;
  margin-bottom: 50px;
  border: 2px solid rgb(80, 80, 80);
}

.question-index {
  position: absolute;
  top: 10px;
}

.quiz-likes-count {
  margin-right: 10px;
}

.solved {
  color: red;
}

.unresolved {
  cursor: pointer;
}

.quiz-result-footer {
  width: calc(50% + 25px);
  display: flex;
  justify-content: space-between;
}

.quiz-result__correct-answers {
  width: 50px;
  font-size: 20px;
  text-align: right;
}
