.question-container {
  background-color: rgb(37, 37, 37);
  margin-bottom: 20px;
  border-radius: 10px;
}

.answer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.extend-question-panel {
  height: 30px;
  display: flex;
  padding: 5px 10px;
  background-color: #535353;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
}

.question-count {
  margin-left: 30px;
  pointer-events: none;
}

.add-question {
  padding: 10px 10px;
}

.answer-container > .button {
  width: 10%;
}
