.custom__link {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;
}

.custom__link > a {
  font-weight: 700;
  text-decoration: none;
}

.custom__link > a > svg {
  z-index: 0;
}

.custom__link__underline {
  height: 2px;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
