.Homepage {
  width: 100%;
  min-height: 92vh;
  display: flex;
  justify-content: center;
}

.recomended-quizzes {
  flex-basis: 90%;
}

.recomended-quizzez-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage__card-box {
  flex-basis: 23%;
  height: 500px;
}

@media (max-width: 1500px) {
  .recomended-quizzes {
    height: 92vh;
    padding: 50px;
  }
  .recomended-quizzez-container {
    width: 100%;
    flex-wrap: wrap;
  }
  .homepage__card-box {
    flex-basis: 48%;
    height: 45%;
  }
}

@media (max-width: 900px) {
  .recomended-quizzes {
    padding: 0;
    padding-top: 50px;
    margin-top: 0;
  }

  .Homepage {
    flex-direction: column;
  }

  .recomended-quizzez-container {
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .homepage__card-box {
    width: 90%;
    flex-basis: 300px;
    margin-bottom: 50px;
  }
}
